*
{
    margin: 0;
    padding: 0;
    
}

/*header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic2.jpg);
    
    
    height :100vh;
    background-size: cover;
    background-position: center;
}
*/


/*---home_page_section---*/

.reg-nav
{
    float: right;
    
    list-style: none;
    margin-top:10px;
   margin-right: 10px;
    
}

.reg-nav li
{
  display: inline-block;
   
}

.reg-nav li a
{
    color: black;
    text-decoration: none;
    
    font-family: "roboto", sans-serif;
    font-size: 10px;
}

.reg-nav li a:hover
{
    background-color: darkorange;
   
}


.main-nav
{
    float: right;
    list-style: none;
    margin-top:50px;
   
}
.main-nav li
{
    display: inline-block;
    
}

.main-nav li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
}


.main-nav li a:hover
{
    border: 1px solid white;
    background-color: darkorange;
}
.logo img
{
    padding-top: auto;
    width: 7%;
    height: auto;
   float: left;
    

}

.row
{
    width: auto ;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
}



/*---pricing outside part---*/

.prbox1{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c1{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}
.bookbtn
{
    float: right;
    list-style: none;
    margin-top:0px;
   
}
.bookbtn li
{
    display: inline-block;
    
}

.bookbtn li a
{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
}


.bookbtn li a:hover
{
    border: 1px solid white;
    background-color: red;
}


.prbox2{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 55%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c2{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}


.prbox3{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c3{
   
    border-radius: 10%;
    position: absolute;
    top: 10px;
    
}

.prbox4{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c4{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}



/*---monthly pricing section---*/

.prmbox1{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c1{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}
.bookbtn li a
{
    float: right;
    
    list-style: none;
    margin-top:-10px;
   margin-right: 10px;
    
    color: white;
    text-decoration: none;
    
    
    font-family: "roboto", sans-serif;
    font-size: 20px;
    background-color:blue;
    
}
.bookbtn a:hover
{
   background-color: darkorange;
}




.prmbox3{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c3{
   
    border-radius: 10%;
    position: absolute;
    top: 10px;
    
}

.prmbox4{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 55%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c4{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}

/*---pricing weekly part---*/

.prwbox1{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c1{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}
.bookbtn
{
    float: right;
    list-style: none;
    margin-top:0px;
   
}
.bookbtn li
{
    display: inline-block;
    
}

.bookbtn li a
{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
}


.bookbtn li a:hover
{
    border: 1px solid white;
    background-color: red;
}


.prwbox2{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 55%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c2{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}




.prwbox4{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 40%;
    left: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.c4{
   
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}



/* --- booking box part ----*/


.bookingbox{
    width: 420px;
    height: 750px;
    background: #000;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


.bookingbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.bookingbox input{
    width: 100%;
    margin-bottom: 20px;
}

.bookingbox input[type="text"], input[type="email"], input[type="date"], input[type="file"], input[type="number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.bookingbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #F433FF;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.bookingbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.avatar3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

